{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block title %} Kontakt admin {% endblock %}

<!-- Wraps the page content -->
{% block body %}
    <div class="container w-50 mt-4">
        <h1 class="pb-3 pt-3"> Kontakt admin </h1>

        {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                {{ message }}
            </div>
        {% endfor %}

        <form method="post" novalidate>
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }}
                    {% render_field field class="form-control" %}

                    {% if field.help_text %}
                        <small class="form-text text-muted"> {{ field.help_text }} </small>
                    {% endif %}
                </div>
            {% endfor %}

            <button type="submit" class="btn btn-success">Send melding</button>
        </form>
    </div>
{% endblock %}

<!--For brukere, ellers vil den arve dobbelt opp fra base.html -->
{% block page_content %}
    <div class="container wb-50 mt-4">
    <h1 class="pb-3 pt-3"> Kontakt admin </h1>

    {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
            {{ message }}
        </div>
    {% endfor %}

    <form method="post" novalidate>
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {% render_field field class="form-control" %}

                {% if field.help_text %}
                    <small class="form-text text-muted"> {{ field.help_text }} </small>
                {% endif %}
            </div>
        {% endfor %}

        <button type="submit" class="btn btn-success">Send melding</button>
    </form>
    </div>
{% endblock %}